/**Scroll Sideway Prevent**/

html {
	overflow-x: hidden;
}

nav {
	width: 100vw;
}


/**Viewport**/

.container-fluid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}

.fullviewport {
	min-height: 100vh;
}


/**Custom Headline**/

.headline {
	font-size: 3.3rem;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

h2 {
	font-family: Raleway;
}


/** Nav Style **/

.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
	padding-top: 4px;
	padding-bottom: 1px;
}

#LogoIMG {
	height: 1.5rem;
	margin-bottom: 0.3rem;
}

#Login {
	height: 2rem;
	margin-top: 0.2rem;
	margin-right: 1.6rem;
}

ul {
	list-style-type: none;
}

nav div ul li a {
	font-family: Raleway;
	margin-left: 1em;
	margin-right: 1em;
}


/**LandingPage Styling**/

.carousel-caption {
	position: relative;
	left: auto;
	right: auto;
}

.carousel-caption p {
	color: #151515;
}

#carouselHeader .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carouselHeader .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#carouselTestimonials .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carouselTestimonials .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/**Willkommen**/

#welcome {
	background-color: #FBEFF5;
}

.imageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.imageContainer img {
	width: 100%;
	padding-bottom: 2em;
	padding-top: 2em;
}

.textFrame {
	width: 90%;
	margin-bottom: 2em;
}

.iconsFrame {
	width: 90%;
	align-items: center;
	text-align: center;
	margin-bottom: 2em;
}

.iconsFrame img {
	padding: 2em;
	width: 100%;
}


/**SoFunktionierts**/

#SoFunktioniertsLink {
	background-color: #FCFCFC;
	height: 100vh;
}


/**Generator**/

#GeneratorLink {
	background-color: #FBEFF5;
	padding-bottom: 30px;
}

#eisgenerator {
	height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: black;
	border-color: #191919;
	background-color: #EFEFEF;
}

a {
	color: black;
}

.steps {
	padding-bottom: 1em;
}

.pay {
	width: 80%;
	padding: 0.5em;
}

.btn-outline-secondary:hover {
	color: black;
	border-color: #ACACAC;
	background-color: #D5D5D5;
}

.btn-outline-secondary {
	color: black;
	border-color: #C4C4C4;
	background-color: #EFEFEF;
}


/**Testimonials**/

#testimonials {
	background-color: #FCFCFC;
}

.background-img {
	background-image: url("../img/eistapete1.jpg");
}

.testimonials {
	background-color: #F4F4F4;
	width: 90%;
	height: 90%;
	align-items: center;
	text-align: justify;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.testimonials p {
	margin: 2em;
}

.testimonials img {
	padding: 2em;
	width: 100%;
}


/**Über Uns**/

#aboutus {
	background-color: #FBFBFB;
}

.aboutus {
	width: 90%;
	height: 90%;
	align-items: center;
	text-align: justify;
	padding-bottom: 2em;
	margin-bottom: 2em;
	text-align: center;
}

.aboutus p {
	padding-left: 2em;
	padding-right: 2em;
}


/**Custom Links**/

.infos {
	color: #191919;
	text-decoration: none;
}

.infos:hover {
	color: #0066CC;
	text-decoration: none;
}


/**Footer**/

#impressum {
	background-color: #F4F4F4;
}

#impressum h6 {
	margin-top: 1em;
}

#socialmedia-leiste {
	background-color: #F4F4F4;
	padding: 1em;
	align-items: center;
}

#socialmedia-leiste img {
	display: inline;
}

.socialmedia {
	width: 2rem;
	margin: 0.3rem;
}

.fairtrade {
	width: 9rem;
}

.margin-top {
	margin-top: 50px;
}

.socialsContainer {
	margin-left: 36.2%;
}

.app {
	width: 70%;
}

.adap-impress {
	margin-left: 15rem;
	margin-right: 15rem;
	"

}


/** Responsive **/

@media(max-width:1325px) {
	.adap-impress {
		margin-left: 5rem;
		margin-right: 5rem;
		"

	}
}

@media(min-width:1220px) {
	.nav-link {
		font-size: 1rem;
	}
}

@media(min-width:1199px)and (max-width:1220px) {
	.nav-link {
		margin-left: 0.8rem;
		margin-right: 0.8rem;
	}
}

@media(max-width:1199px) {
	#Login {
		display: none;
	}
}

@media(max-width:1000px) {
	.socialmedia {
		width: 1.5rem;
	}
}

@media(max-width:993px) {
	.adap-impress {
		margin-left: 1rem;
		margin-right: 1rem;
		"

	}
}

@media(max-width:991.5px) {
	.aboutusicon {
		padding: 5em;
	}
}

@media(max-width:768px) {
	.app {
		width: 30%;
	}
	.margin-top {
		margin: 2%;
	}
  .iconsFrame img{
    width: 70%;
  }
}

@media(max-width:700px) {
	.socialmedia {
		width: 2rem;
	}
	.app {
		width: 35%;
	}
}
